<div class="container">

  <div class="header">
    <span class="header__title">Gestión de Productos</span>
    <button mat-raised-button color="accent" (click)="openDialog()">
      <mat-icon>add</mat-icon>
      <span>Crear Producto</span>
    </button>
  </div>

  <div class="filter">
    <mat-form-field class="filter__input" appearance="fill">
      <mat-label>Busque un producto</mat-label>
      <input matInput type="text" (keyup)="applyFilter($event)">
    </mat-form-field>
    
  </div>

  <div class="table">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!-- Position Column -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="nombreCategoria">
        <th mat-header-cell *matHeaderCellDef> Categoría </th>
        <td mat-cell *matCellDef="let element"> {{element.nombreCategoria}} </td>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="precio">
        <th mat-header-cell *matHeaderCellDef> Precio </th>
        <td mat-cell *matCellDef="let element"> S/ {{element.precio}} </td>
      </ng-container>
    
      <!-- Symbol Column -->
      <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef> Descripción </th>
        <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let element">
          <div class="accion-container">
            <button mat-icon-button color="primary">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="primary">
              <mat-icon>delete</mat-icon>
            </button>
            <mat-slide-toggle
              color="primary"
              [checked]="element.estado">
            </mat-slide-toggle>
          </div>
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    
    
  </div>

</div>