<div class="container">

  <div class="progress-bar">
    @if (_progressbarService.showProgress()) {
      <mat-progress-bar color="primary" mode="indeterminate" />
    }
  </div>

  <div class="main">
    <div class="card-left">
      <span class="left__title">Coffe-Station</span>
      <img class="left__img" src="./../../../../../assets/images/coffe_login.svg" alt="coffe">
    </div>

    <div class="card-right">

    <div class="right--info">
      <span class="right__title">INICIAR SESIÓN</span>
      <img class="right__logo" src="./../../../../../assets/images/user_login.svg" alt="user">
    </div>

    <form class="right__form" [formGroup]="loginForm" (submit)="tryLogin()">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input (blur)="updateErrorMessageEmail()" formControlName="email" matInput placeholder="Ingrese su email" type="text">
        <mat-icon matSuffix>alternate_email</mat-icon>
        @if (f['email'].invalid) {
          <mat-error>{{sigErrorEmail()}}</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input [type]="hidePassword ? 'password' : 'text'" (blur)="updateErrorMessagePassword()" formControlName="password" matInput placeholder="Ingrese su contraseña"  type="text">
        <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
          <mat-icon matSuffix>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        @if (f['password'].invalid) {
          <mat-error>{{sigErrorPassword()}}</mat-error>
        }
      </mat-form-field>

      <button type="submit" color="primary" mat-raised-button>Acceder</button>
    </form>

    </div>
  </div>

</div>